Binaries
Build
DerivedDataCache
Intermediate
/Packaged
/Saved
.vs
.vs2
.vs3
/OpenStorm.sln
/Content/Data/Demo/*
/Content/Data/elevation.bin
/Content/testing
/Content/Testing
!.gitkeep
tmp