Binaries
Build
DerivedDataCache
Intermediate
/Packaged
/Saved
.vs
.vs2
.vs3
/OpenStorm.sln
/Content/Data/Demo/*
/Content/Data/Map/*
!/Content/Data/Map/download.js
/Content/Data/elevation.bin
/Content/Data/elevation.bin.gz
/Content/testing
/Content/Testing
!.gitkeep
tmp
/.vsconfig
/enc_temp_folder
/Source/OpenStorm/Radar/Deps/hdf5
/Plugins/UnrealHDF5